@font-face {
	font-family: 'ciconfont'; /* Project id 3989185 */
	/* Color fonts */
	src: url('./ciconfont.ttf') format('truetype');
}

.ciconfont {
	font-family: 'ciconfont' !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.c_shouye1:before {
	content: '\e671';
}

.c_xiaoxi1:before {
	content: '\e673';
}

.c_wode1:before {
	content: '\e675';
}

.c_yingyongchanpin1:before {
	content: '\e677';
}

.c_zhengce1:before {
	content: '\e679';
}

.c_xiangmu1:before {
	content: '\e67b';
}

.c_xiangmu11:before {
	content: '\e67d';
}

.c_dingyue1:before {
	content: '\e67f';
}
