@font-face {
  font-family: "ticonfont"; /* Project id 3988277 */
  src: url('iconfont.woff2?t=1686098111071') format('woff2'),
       url('iconfont.woff?t=1686098111071') format('woff'),
       url('iconfont.ttf?t=1686098111071') format('truetype');
}

.ticonfont {
  font-family: "ticonfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.t-icon-shouye1:before {
  content: "\e671";
}

.t-icon-xiaoxi1:before {
  content: "\e673";
}

.t-icon-wode1:before {
  content: "\e675";
}

.t-icon-yingyongchanpin1:before {
  content: "\e677";
}

.t-icon-zhengce1:before {
  content: "\e679";
}

.t-icon-xiangmu1:before {
  content: "\e67b";
}

.t-icon-xiangmu11:before {
  content: "\e67d";
}

.t-icon-dingyue1:before {
  content: "\e67f";
}

.t-icon-gengduo1:before {
  content: "\e681";
}

.t-icon-jinrong1:before {
  content: "\e683";
}

.t-icon-chuangye1:before {
  content: "\e685";
}

.t-icon-xiaoxi11:before {
  content: "\e687";
}

.t-icon-fuwuquan1:before {
  content: "\e689";
}

.t-icon-faxian1:before {
  content: "\e68b";
}

.t-icon-shoucang1:before {
  content: "\e68d";
}

.t-icon-huiyuan1:before {
  content: "\e68f";
}

.t-icon-renzheng1:before {
  content: "\e690";
}

.t-icon-shangpu1:before {
  content: "\e691";
}

.t-icon-chengguo1:before {
  content: "\e692";
}

.t-icon-tongji1:before {
  content: "\e693";
}

