@font-face {
  font-family: "ciconfont"; /* Project id 3989185 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1686189800813') format('woff2'),
       url('iconfont.woff?t=1686189800813') format('woff'),
       url('iconfont.ttf?t=1686189800813') format('truetype');
}

.ciconfont {
  font-family: "ciconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.c-icon-calendar:before {
  content: "\e606";
}

.c-icon--calendar-_1:before {
  content: "\e608";
}

.c-icon-classroom:before {
  content: "\e609";
}

.c-icon-chatting:before {
  content: "\e60a";
}

.c-icon-computer:before {
  content: "\e60b";
}

.c-icon-conversation:before {
  content: "\e60c";
}

.c-icon-ereader:before {
  content: "\e60d";
}

.c-icon-diploma:before {
  content: "\e60e";
}

.c-icon-collaboration:before {
  content: "\e60f";
}

.c-icon-education:before {
  content: "\e610";
}

.c-icon--exam:before {
  content: "\e611";
}

.c-icon--folder:before {
  content: "\e612";
}

.c-icon--folders-:before {
  content: "\e613";
}

.c-icon--idea:before {
  content: "\e614";
}

.c-icon--flask:before {
  content: "\e615";
}

.c-icon--folder-:before {
  content: "\e616";
}

.c-icon--lecture-:before {
  content: "\e617";
}

.c-icon--mathematics:before {
  content: "\e618";
}

.c-icon--lottery:before {
  content: "\e619";
}

.c-icon--lab-:before {
  content: "\e61a";
}

.c-icon--mission-:before {
  content: "\e61b";
}

.c-icon--notebook:before {
  content: "\e61c";
}

.c-icon--message:before {
  content: "\e61d";
}

.c-icon--network-:before {
  content: "\e61e";
}

.c-icon--notes:before {
  content: "\e61f";
}

.c-icon-notepad:before {
  content: "\e620";
}

.c-icon-online:before {
  content: "\e621";
}

.c-icon--online-education-_2:before {
  content: "\e622";
}

.c-icon--online-education-_1:before {
  content: "\e623";
}

.c-icon--online-education-:before {
  content: "\e624";
}

.c-icon--online-education-_5:before {
  content: "\e625";
}

.c-icon--online-education-_3:before {
  content: "\e626";
}

.c-icon--open-book:before {
  content: "\e627";
}

.c-icon-online-education6:before {
  content: "\e629";
}

.c-icon--online-education-_4:before {
  content: "\e62a";
}

.c-icon-pencils:before {
  content: "\e62d";
}

.c-icon--trophy:before {
  content: "\e646";
}

.c-icon--thinking:before {
  content: "\e648";
}

.c-icon--abc:before {
  content: "\e649";
}

.c-icon--book:before {
  content: "\e64d";
}

