@font-face {
  font-family: "iconfont"; /* Project id 3988277 */
  /* Color fonts */
  src: 
       url('//at.alicdn.com/t/c/font_3988277_no4d16vqmc.woff2?t=1680229262782') format('woff2'),
       url('//at.alicdn.com/t/c/font_3988277_no4d16vqmc.woff?t=1680229262782') format('woff'),
       url('//at.alicdn.com/t/c/font_3988277_no4d16vqmc.ttf?t=1680229262782') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ticon-shouye1:before {
  content: "\e671";
}

.ticon-xiaoxi1:before {
  content: "\e673";
}

.ticon-wode1:before {
  content: "\e675";
}

.ticon-yingyongchanpin1:before {
  content: "\e677";
}

.ticon-zhengce1:before {
  content: "\e679";
}

.ticon-xiangmu1:before {
  content: "\e67b";
}

.ticon-xiangmu11:before {
  content: "\e67d";
}

.ticon-dingyue1:before {
  content: "\e67f";
}

.ticon-gengduo1:before {
  content: "\e681";
}

.ticon-jinrong1:before {
  content: "\e683";
}

.ticon-chuangye1:before {
  content: "\e685";
}

.ticon-xiaoxi11:before {
  content: "\e687";
}

.ticon-fuwuquan1:before {
  content: "\e689";
}

.ticon-faxian1:before {
  content: "\e68b";
}

.ticon-shoucang1:before {
  content: "\e68d";
}

.ticon-huiyuan1:before {
  content: "\e68f";
}

.ticon-renzheng1:before {
  content: "\e690";
}

.ticon-shangpu1:before {
  content: "\e691";
}

.ticon-chengguo1:before {
  content: "\e692";
}

.ticon-tongji1:before {
  content: "\e693";
}